<!DOCTYPE html>
<!--
Click nbhost://nbhost/SystemFileSystem/Templates/Licenses/license-default.TAT to change this license
Click nbhost://nbhost/SystemFileSystem/Templates/Other/HTML.HTML to edit this template
-->
<html>
    <head>
        <title>Tabel Harga</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tabel Harga Barang 2021</div>
        <hr><!-- comment -->
        <table>
            <tr threach="tabelini, count:${tabel_baru}">
                <td th:text="${count.count}"></td>
                <td th:text="${tabelini[0]}"></td>
                <td th:text="${tabel ini[1]}"></td>
            </tr>
        </table>
        <br><!-- comment -->
            <li th:text="${kosong}"></li>
     </body>
</html>
